# Utilización de Prophet para mejorar el proyecto

In [1]:
#Para la manipulación de datos
import pandas as pd
import time
import numpy as np

# Para el análsis de la muestra 
import matplotlib.pyplot as plt 
import seaborn as sns 

# Para analizar la serie de tiempo 
import prophet

In [2]:
# LEEMOS EL DATASET, SE PARSEA LA COLUMNA 'DIA' 
df = pd.read_excel('Bici1.xlsx', index_col='DIA', parse_dates=['DIA'])
df.head()

,Año,Mes,Usos bicis abono anual día,Usos bicis abono ocasional día,Usos bicis total día,Unnamed: 6,Usos bicis abono anual acumulado mes,Usos bicis abono ocasional acumulado mes,Usos bicis total acumulado mes,Unnamed: 10,...,Usos bicis abono ocasional acumulado año,Usos bicis total acumulado año,Unnamed: 14,Usos abono anual acumulado,Usos abono ocasional acumulado,Usos total acumulado desde inicio,Unnamed: 18,Acumulado mes total,Unnamed: 20,Unnamed: 21
DIA,,,,,,,,,,,,,,,,,,,,,
2014-06-23,2014,6,20.0,79.0,99.0,NaN,20.0,79.0,99.0,NaN,...,79.0,99.0,NaN,20.0,79.0,99.0,NaN,NaN,NaN,NaN
2014-06-24,2014,6,24.0,48.0,72.0,NaN,44.0,127.0,171.0,NaN,...,127.0,171.0,NaN,44.0,127.0,171.0,NaN,NaN,NaN,NaN
2014-06-25,2014,6,105.0,14.0,119.0,NaN,149.0,141.0,290.0,NaN,...,141.0,290.0,NaN,149.0,141.0,290.0,NaN,NaN,NaN,NaN
2014-06-26,2014,6,120.0,15.0,135.0,NaN,269.0,156.0,425.0,NaN,...,156.0,425.0,NaN,269.0,156.0,425.0,NaN,NaN,NaN,NaN
2014-06-27,2014,6,131.0,18.0,149.0,NaN,400.0,174.0,574.0,NaN,...,174.0,574.0,NaN,400.0,174.0,574.0,NaN,NaN,NaN,NaN

In [5]:
# Hacemos la limpia de datos
df.drop("Unnamed: 6", axis=1)
df = df.drop(df.index[3053::])
df = df.drop(columns= ['Usos bicis total día', 'Unnamed: 6',
       'Usos bicis abono anual acumulado mes',
       'Usos bicis abono ocasional acumulado mes',
       'Usos bicis total acumulado mes', 'Unnamed: 10',
       'Usos bicis abono anual acumulado año',
       'Usos bicis abono ocasional acumulado año',
       'Usos bicis total acumulado año', 'Unnamed: 14',
       'Usos abono anual acumulado', 'Usos abono ocasional acumulado',
       'Usos total acumulado desde inicio', 'Unnamed: 18',
       'Acumulado mes total', 'Unnamed: 20', 'Unnamed: 21'], axis=1)
df = df.drop(df.index[3053::])
df = df.drop('Mes', axis=1)
df = df.drop('Año', axis=1)
df.head()

KeyError: "['Unnamed: 6'] not found in axis"